<h4>{{ betName }}</h4>
<p>Terms: {{ betTerms }}.</p>
<p>Amount: ${{betAmount }}</p>
<p>My nonprofit {{{betMyNonprofitLink}}}</p>
<p>{{{ betFriendLink }}}'s nonprofit {{{betNotMyNonprofitLink}}}</p>
<p>Determination Date: {{ betDeterminationDate }}</p>